.page-header
  %h3
    Server time #{l(Time.now, format: :short)}
    = link_to jobs_path(scope: nil) do
      #{Delayed::Job.count} jobs
    \|
    = link_to jobs_path(scope: :running) do
      #{Delayed::Job.where.not(locked_at: nil).count} running
    \|
    = link_to jobs_path(scope: :failed) do
      #{Delayed::Job.where.not(last_error: nil).count} failed

    - if (queues = Delayed::Job.distinct.pluck(:queue)).length > 1
      - queues.each do |queue|
        \|
        = link_to jobs_path(queue: queue) do
          #{Delayed::Job.where(queue: queue).count} #{queue}
